<div>
    <img class='chat_logo' src='img/{{chatLogo}}'>
    <img width=20 height=20 class='chat_logo' title='{{rankTitle}}' src='{{rankIcon}}'>
    <span class='nick role-user'>{{nickname}}</span>
    <span{{#if isPersonal}} class='message-to-user'{{/if}}>{{{message}}}</span>
</div>